/* Globals */
* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --red: #d0312d;
  --grey: #777777;
  --black: #000;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--red);
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
}

#viewhighscores:hover {
  cursor: pointer;
  color: var(--grey);
}

header h4 {
  padding-left: 20px;
  font-size: 2rem;
  display: inline;
}

.timer {
  font-size: 2rem;
  color: var(--black);
  display: inline;
  text-align: right;
  padding-right: 20px;
}

/*Main content */
.container {
  padding: 20px;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

h1 {
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
}

p {
  color: var(--black);
  font-size: 2rem;
}

.start {
  align-items: center;
  text-align: center;
}

.start h1,
.start p {
  text-align: center;
}

.questions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  margin: auto;
}

.end h1,
.end p {
  text-align: left;
}

.end input {
  outline: thick;
  border-width: 1px;
  padding: 5px;
  width: 35%;
  font-size: 2.2rem;
  border-radius: 5px;
}

.end input:focus {
  border: 2px solid var(--red);
}

.show {
  display: flex;
}

.hide {
  display: none;
}
